<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringbootDockerApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="springboot-docker" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ro.jtonic.handson.springboot.docker.SpringbootDockerApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>